AddDefaultCharset utf-8

Options  All -Indexes 
DirectoryIndex index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(js|gif|jpg|jpeg|png|css)$ index.php

php_flag display_errors off